In [1]:
import numpy as np
import pandas as pd
import re
from itertools import chain

In [2]:
df  = pd.read_csv('rent_info.csv')

In [3]:
df.shape

(54694, 8)

In [4]:
df.dtypes

address         object
amenities       object
baths            int64
beds            object
broker          object
neighborhood    object
page             int64
rent             int64
dtype: object

In [5]:
df.sample(10)

,address,amenities,baths,beds,broker,neighborhood,page,rent
53949,Lexington Avenue,Elevator ; Pre-War ; Hardwood Floors,1,1,NaN,Rose Hill; Kips Bay; Midtown Manhattan; Manhattan,54,3500
3312,West 51st Street,Pre-War,1,2,NaN,Hell's Kitchen; Midtown Manhattan; Manhattan,2619,3800
53597,York Ave,Doorman,1,1,NaN,Upper East Side; Upper Manhattan; Manhattan,72,4800
1596,East 30th Street,Doorman ; Elevator ; Hardwood Floors,1,1,NaN,Rose Hill; Kips Bay; Midtown Manhattan; Manhattan,2712,3195
15618,Queens Plaza North,Doorman ; Elevator ; Pre-War ; Hardwood Floors,1,1,NaN,Long Island City; Northwestern Queens; Queens,1994,2594
13332,E 34th St,NaN,1,2,NaN,Murray Hill; Midtown Manhattan; Manhattan,2111,3595
53479,347 Chambers St Apt 518,Doorman ; Elevator ; Hardwood Floors,1,2,NaN,Battery Park City; Downtown Manhattan; Manhattan,78,4293
32529,4610 Center Boulevard,Doorman ; Elevator ; Laundry in Unit ; Furnished,2,2,NaN,Hunters Point; Long Island City; Northwestern ...,1141,4710
30374,260 w 52nd st,"1,250 ft² ; Doorman ; Elevator ; Laundry in Unit",2,2,NaN,Theater District; Midtown Manhattan; Manhattan,1249,5250
37389,6th Ave.,Doorman ; Elevator ; Hardwood Floors,1,3,NaN,Murray Hill; Midtown Manhattan; Manhattan,893,4850

In [6]:
np.sum(df.isnull())

address             0
amenities        5779
baths               0
beds                0
broker          42569
neighborhood        1
page                0
rent                0
dtype: int64

In [7]:
df = df.loc[pd.notnull(df['neighborhood'])] #keep everything except the one missing a hood

In [8]:
#Get all possible amenties
amens = df['amenities'].str.split(";")
amens.dropna(inplace=True)
amens = list(chain(*amens))
#sqft = [x for x in amens if "ft" in x]
amens = [x for x in amens if "ft" not in x] #remove sq ft
set(amens)

{' Doorman',
 ' Doorman ',
 ' Elevator',
 ' Elevator ',
 ' Furnished',
 ' Hardwood Floors',
 ' Hardwood Floors ',
 ' Laundry in Unit',
 ' Laundry in Unit ',
 ' Pre-War',
 ' Pre-War ',
 'Doorman',
 'Doorman ',
 'Elevator',
 'Elevator ',
 'Furnished',
 'Hardwood Floors',
 'Hardwood Floors ',
 'Laundry in Unit',
 'Laundry in Unit ',
 'Pre-War',
 'Pre-War '}

In [9]:
#Since it is a limited list, we will add special columns one at a time for Doorman, Elevator, Furnished, and Laundry
df['elevator'] = df['amenities'].str.contains('Elevator', na=False, regex=False) #regex gives performance boost
df['doorman'] = df['amenities'].str.contains('Doorman', na=False, regex=False)
df['laundry'] = df['amenities'].str.contains('Laundry', na=False, regex=False)
df['furnished'] = df['amenities'].str.contains('Furnished', na=False, regex=False )

In [10]:
#used this code to get a data frame for stack overflow question
#stack = df[['address', 'amenities']]
#stack.head(4).to_dict()

In [11]:
df.sample(10)

,address,amenities,baths,beds,broker,neighborhood,page,rent,elevator,doorman,laundry,furnished
30872,Franklin Ave.,Pre-War ; Hardwood Floors,1,4,NaN,Bedford-Stuyvesant; Northern Brooklyn; Brooklyn,1224,3900,False,False,False,False
36006,West 55th Street,Doorman ; Elevator ; Laundry in Unit ; Hardwoo...,1,Studio,NaN,Theater District; Midtown Manhattan; Manhattan,965,2150,True,True,True,False
20807,W 42nd St,Doorman ; Elevator ; Hardwood Floors,1,1,NaN,Theater District; Midtown Manhattan; Manhattan,1732,3100,True,True,False,False
2712,Amsterdam Avenue,674 ft² ; Doorman ; Elevator ; Laundry in Unit,1,1,NaN,Manhattan Valley; Upper West Side; Upper Manha...,2651,3757,True,True,True,False
39709,William Street,Doorman ; Elevator,1,2,Paeder A Varnam,Financial District; Downtown Manhattan; Manhattan,776,4120,True,True,False,False
6985,Dutch St,Doorman ; Elevator ; Laundry in Unit,1,1,NaN,Financial District; Downtown Manhattan; Manhattan,2432,3500,True,True,True,False
39028,East 79th Street,"1,000 ft² ; Doorman ; Elevator ; Hardwood Floors",2,2,NaN,Yorkville; Upper East Side; Upper Manhattan; M...,810,4950,True,True,False,False
6444,11430 Rockaway Beach Boulevard...,Elevator,1,2,NaN,Seaside; Rockaway Beach; Rockaway Peninsula; Q...,2459,2020,True,False,False,False
36110,Court Street,Doorman ; Elevator,1,1,NaN,Boerum Hill; South Brooklyn; Brooklyn,959,3555,True,True,False,False
30894,West 45th Street,Doorman ; Elevator ; Laundry in Unit ; Hardwoo...,2,3,NaN,Hell's Kitchen; Midtown Manhattan; Manhattan,1223,6990,True,True,True,False

In [12]:
#Get sqft info
df['amenities'] = df['amenities'].str.replace(",","") #remove commas, for example, 1,100 to 1100
df['sqft'] = df['amenities'].str.extract('(\d+)')

In [13]:
df.sample(10) #make sure all amenities are done

,address,amenities,baths,beds,broker,neighborhood,page,rent,elevator,doorman,laundry,furnished,sqft
38287,397 Troy Ave. Apt 3F,NaN,1,2,NaN,Crown Heights; Central Brooklyn; Brooklyn,848,1799,False,False,False,False,NaN
12048,Attorney St,Laundry in Unit ; Hardwood Floors,2,4,NaN,Lower East Side; Downtown Manhattan; Manhattan,2176,9070,False,False,True,False,NaN
23766,E 56th St.,Doorman ; Elevator,1,2,NaN,Sutton Place; Midtown East; Midtown Manhattan;...,1584,5695,True,True,False,False,NaN
21667,East 57th Street,Doorman ; Elevator,1,1,NaN,Sutton Place; Midtown East; Midtown Manhattan;...,1689,3375,True,True,False,False,NaN
22198,53rd & 9th,1500 ft² ; Doorman ; Elevator,2,4,NaN,Hell's Kitchen; Midtown Manhattan; Manhattan,1663,5800,True,True,False,False,1500
5594,West 109th St,NaN,1,1,NaN,Manhattan Valley; Upper West Side; Upper Manha...,2502,2950,False,False,False,False,NaN
6971,25 Clinton Street Apt 401,Hardwood Floors,1,Studio,NaN,Lower East Side; Downtown Manhattan; Manhattan,2432,2225,False,False,False,False,NaN
42853,West 57 Street,Doorman ; Elevator ; Laundry in Unit,2,2,NaN,Hell's Kitchen; Midtown Manhattan; Manhattan,617,4795,True,True,True,False,NaN
6289,West 48th Street,665 ft² ; Doorman ; Elevator,1,1,NaN,Theater District; Midtown Manhattan; Manhattan,2467,3854,True,True,False,False,665
62,W 52nd Street,Doorman ; Elevator ; Laundry in Unit ; Hardwoo...,2,2,NaN,Hell's Kitchen; Midtown Manhattan; Manhattan,41,6325,True,True,True,False,NaN

In [14]:
#Get neighborhood and borough. Neighborhood is first item in list of 3, borough is last
neighborhoods = df['neighborhood'].str.split(";")
df['borough'] = [x[-1] for x in neighborhoods]
df['borough'] = df['borough'].str.strip()

df['hood'] = [x[0] for x in neighborhoods]
df['hood'] = df['hood'].str.strip()

In [15]:
df.sample(10) #make sure neighborhood and borough are done.

,address,amenities,baths,beds,broker,neighborhood,page,rent,elevator,doorman,laundry,furnished,sqft,borough,hood
9084,Madison Street,NaN,1,1,NaN,Bedford-Stuyvesant; Northern Brooklyn; Brooklyn,2325,2150,False,False,False,False,NaN,Brooklyn,Bedford-Stuyvesant
39278,West 75 Street and Central Par...,Laundry in Unit ; Loft,3,3,Sam Hassounia,Upper West Side; Upper Manhattan; Manhattan,798,6900,False,False,True,False,NaN,Manhattan,Upper West Side
12166,East 85th Street,Hardwood Floors,2,4,NaN,Yorkville; Upper East Side; Upper Manhattan; M...,2171,4800,False,False,False,False,NaN,Manhattan,Yorkville
34234,East 100th Street,750 ft² ; Laundry in Unit ; Pre-War,1,2,NaN,East Harlem; Upper Manhattan; Manhattan,1055,2700,False,False,True,False,750,Manhattan,East Harlem
31527,Stanton Street,Elevator ; Pre-War,2,4,NaN,Lower East Side; Downtown Manhattan; Manhattan,1192,7595,True,False,False,False,NaN,Manhattan,Lower East Side
49976,Graham Avenue,Hardwood Floors,1,3,NaN,East Williamsburg; Williamsburg; Northern Broo...,256,3300,False,False,False,False,NaN,Brooklyn,East Williamsburg
1239,Ludlow Street,Hardwood Floors,1,1,NaN,Lower East Side; Downtown Manhattan; Manhattan,2731,2500,False,False,False,False,NaN,Manhattan,Lower East Side
34874,89-15 102st,NaN,1,1,NaN,Richmond Hill; Southwestern Queens; Queens,1022,1650,False,False,False,False,NaN,Queens,Richmond Hill
30754,E 44th St.,Doorman ; Elevator ; Pre-War ; Hardwood Floors,1,Studio,Damian Jerdonek,Turtle Bay; Midtown East; Midtown Manhattan; M...,1230,2290,True,True,False,False,NaN,Manhattan,Turtle Bay
11835,28-39 36 St. Apt 2R,650 ft² ; Hardwood Floors,1,1,NaN,Astoria; Northwestern Queens; Queens,2187,1800,False,False,False,False,650,Queens,Astoria

In [16]:
df = df.drop(['amenities', 'neighborhood', 'broker'], 1)

In [17]:
df.sort_values(by = ['address']) #examine duplicates

,address,baths,beds,page,rent,elevator,doorman,laundry,furnished,sqft,borough,hood
5849,(((NO FEE))) KIPS BAY AREA -11...,1,3,2490,3800,True,True,False,False,1000,Manhattan,Kips Bay
5811,(((NO FEE))) KIPS BAY AREA -11...,1,3,2491,3800,True,True,False,False,1000,Manhattan,Kips Bay
49043,1 Astor Place,1,Studio,304,3195,True,True,False,False,NaN,Manhattan,NoHo
54397,1 Astor Place,1,Studio,17,3095,False,False,False,False,NaN,Manhattan,NoHo
48937,1 Astor Place,1,Studio,309,3095,True,True,False,False,NaN,Manhattan,NoHo
24875,1 Astor Place Apt 4D,1,Studio,1528,3195,True,True,False,False,NaN,Manhattan,NoHo
23293,1 Astor Place Apt 5G,1,Studio,1607,3095,True,True,False,False,NaN,Manhattan,NoHo
23329,1 Astor Place Apt 5G,1,Studio,1606,3095,True,True,False,False,NaN,Manhattan,NoHo
50130,1 Astor Place Apt 5M,1,Studio,249,3095,True,True,False,False,NaN,Manhattan,NoHo
50094,1 Astor Place Apt 5M,1,Studio,250,3095,True,True,False,False,NaN,Manhattan,NoHo
49845,1 Astor place,1,1,263,4240,True,True,False,False,NaN,Manhattan,NoHo
48015,1 Ave,1,3,355,3600,True,False,False,False,NaN,Manhattan,East Harlem
49852,1 Ave.,1,Studio,262,2050,True,False,False,False,NaN,Manhattan,Sutton Place
49891,1 Ave.,1,Studio,261,2050,True,False,False,False,NaN,Manhattan,Sutton Place
45672,1 Ave.,1,2,474,3500,False,False,False,False,NaN,Manhattan,Sutton Place
15139,1 Ave.,1,Studio,2018,2050,True,False,False,False,NaN,Manhattan,Sutton Place
53277,1 Barclay St,2,2,88,6095,True,True,True,False,1,Manhattan,Tribeca
304,1 Barclay St,2,2,29,6095,True,True,True,False,1,Manhattan,Tribeca
32014,1 Beadel St,1,2,1167,3500,False,False,False,False,NaN,Brooklyn,Williamsburg
39220,1 Block away from Seaport,1,Studio,801,2524,True,True,True,False,NaN,Manhattan,Financial District
535,1 Blue Slip,1,Studio,2804,2898,False,False,False,False,NaN,Brooklyn,Greenpoint
545,1 Blue Slip,2,2,2803,5418,False,False,False,False,NaN,Brooklyn,Greenpoint
40165,1 Blue Slip Apt 11B,2,2,753,5795,True,True,True,False,NaN,Brooklyn,Greenpoint
40127,1 Blue Slip Apt 11B,2,2,754,5795,True,True,True,False,NaN,Brooklyn,Greenpoint
17548,1 Blue Slip Apt 25C,2,3,1897,7450,True,True,True,False,NaN,Brooklyn,Greenpoint
17570,1 Blue Slip Apt 25C,2,3,1896,7450,True,True,True,False,NaN,Brooklyn,Greenpoint
17601,1 Blue Slip Apt 25C,2,3,1895,7450,True,True,True,False,NaN,Brooklyn,Greenpoint
9357,1 Blue Slip Apt 6D,1,1,2311,3195,True,True,True,False,NaN,Brooklyn,Greenpoint
14322,1 Blue Slip Apt 6K,1,Studio,2059,2995,True,True,True,False,NaN,Brooklyn,Greenpoint
14359,1 Blue Slip Apt 6K,1,Studio,2058,2995,True,True,True,False,NaN,Brooklyn,Greenpoint
...,...,...,...,...,...,...,...,...,...,...,...,...
14135,west 84 st and CPW,1,1,2069,2100,False,False,False,False,NaN,Manhattan,Upper West Side
14171,west 84 st and CPW,1,1,2068,2100,False,False,False,False,NaN,Manhattan,Upper West Side
14156,west 87th,1,1,2068,2700,False,False,False,False,NaN,Manhattan,Upper West Side
3078,west 8th,1,1,2632,5295,True,False,False,False,NaN,Manhattan,Greenwich Village
24785,west 92 st,1,Loft,1533,2350,False,False,False,False,NaN,Manhattan,Upper West Side
51448,west 93,2,3,181,4600,True,True,True,False,NaN,Manhattan,Upper West Side
8803,west 97,2,3,2339,5500,True,True,True,False,NaN,Manhattan,Manhattan Valley
8300,west 97,1,2,2365,3700,True,True,True,False,NaN,Manhattan,Manhattan Valley
8366,west 97,2,2,2362,4100,True,True,True,False,NaN,Manhattan,Manhattan Valley
8330,west 97,2,2,2363,4100,True,True,True,False,NaN,Manhattan,Manhattan Valley
26668,west 98th street,1,1,1438,3200,True,True,False,False,NaN,Manhattan,Manhattan Valley
31756,west end,2,3,1180,8700,True,True,True,False,NaN,Manhattan,Upper West Side
6199,west end ave,1,2,2471,3400,True,True,True,False,NaN,Manhattan,Upper West Side
45271,west end ave,3,3,494,8500,True,True,True,False,NaN,Manhattan,Upper West Side
13790,west end ave,2,3,2088,6795,True,False,True,False,NaN,Manhattan,Upper West Side
22937,west end ave,2,3,1626,9000,True,True,False,False,NaN,Manhattan,Upper West Side
45305,west end ave,3,3,493,8500,True,True,True,False,NaN,Manhattan,Upper West Side
6236,west end ave,1,2,2470,3400,True,True,True,False,NaN,Manhattan,Upper West Side
7287,west end ave,1,2,2417,3985,True,True,True,False,NaN,Manhattan,Upper West Side
44152,west end ave,3,4,551,9378,True,True,True,False,NaN,Manhattan,Upper West Side
5014,west st & battery,1,3,2531,3980,True,True,False,False,NaN,Manhattan,Financial District
6481,west st & battery,1,Studio,2457,2490,True,True,False,False,NaN,Manhattan,Financial District
6512,west st & battery,1,Studio,2456,2490,True,True,False,False,NaN,Manhattan,Financial District
36934,west street,1,Studio,916,2400,True,True,False,False,NaN,Manhattan,Financial District
53661,west street,3,3,69,8245,True,True,True,False,1800,Manhattan,Tribeca
9191,yes,1,1,2320,2190,False,False,False,False,NaN,Brooklyn,East Flatbush
9282,yes,1,1,2315,2190,False,False,False,False,NaN,Brooklyn,East Flatbush
10258,york ave and 83 st,1,Studio,2266,1895,False,False,False,False,NaN,Manhattan,Yorkville
17080,york ave and 86 st,1,2,1921,3400,True,False,False,False,NaN,Manhattan,Yorkville
20994,york ave and e 79 st,1,2,1723,3200,True,False,False,False,NaN,Manhattan,Yorkville

In [18]:
df = df.drop_duplicates(subset=['address', 'baths', 'beds', 'rent'])

In [19]:
df = df.reindex(columns = ['address', 'rent', 'beds', 'baths', 'borough', 'hood', \
                           'elevator', 'doorman', 'laundry', 'furnished', 'sqft', 'page'])

In [20]:
#Make sure boroughs are all Brooklyn, Bronx, Manhattan, Queens or Staten Island
set(df['borough'])

{'14th to 40th Street',
 'Bronx',
 'Brooklyn',
 'Financial District',
 'Greenburgh',
 'Greenwich Village',
 'Hempstead',
 'Jersey City',
 'Kirkland',
 'Manhattan',
 'Midtown',
 'Midtown Manhattan',
 'Murray Hill',
 'Newark',
 'North Hempstead',
 'Placer County',
 'Queens',
 'Rye',
 'Staten Island',
 'Tabernacle',
 'Town',
 'Upper Manhattan',
 'Weehawken',
 'Yakima County',
 'Yonkers',
 'meat packing'}

In [21]:
#Examine to see what needs to be removed and what fixed.
group = df.groupby(['borough'])
for key, values in group:
    print(key) #this indicates the grouping
    print('-'*70)
    print(values) #this is a dataframe for that 
    print('\n')

14th to 40th Street
----------------------------------------------------------------------
            address  rent beds  baths              borough     hood  elevator  \
30054  Ninth Avenue  2699    1      1  14th to 40th Street  Chelsea     False

       doorman  laundry  furnished sqft  page
30054    False    False      False  NaN  1265


Bronx
----------------------------------------------------------------------
                                 address  rent    beds  baths borough  \
121         25 Bruckner Boulevard Apt 5V  3525       2      2   Bronx
391                    East 169th Street  1960       2      1   Bronx
418                       Webster Avenue  2400       3      2   Bronx
593                 Renovated Bronx 2BR.  1575       2      1   Bronx
1004                      Tiebout Avenue  2325       2      1   Bronx
1133          2447 Cambreleng Ave Apt 2A  1600       1      1   Bronx
1179                     Sedgwick Avenue  1483       1      1   Bronx
1371                   West 238th Street  3608       3      2   Bronx
1454    2727 Henry Hudson Parkway Apt...  5100       3      2   Bronx
1462                   West 238th Street  2340       1      1   Bronx
1501                     Sedgwick Avenue  1828       2      1   Bronx
1513                   West 238th Street  3608       2      2   Bronx
1572   HISTORIC MOTT HAVEN BRONX NY 1...  2000       2      1   Bronx
1585         1521 Unionport Road Apt 12D  1448       1      1   Bronx
1681                   East 189th Street  1998       3      1   Bronx
1704            2 BR/1B Bronx apartment.  1575       2      1   Bronx
1771                       Walton Avenue  1462       1      1   Bronx
1962                   East 189th Street  1604       2      1   Bronx
2166          3120-30 Kingsbridge Avenue  1500       1      1   Bronx
2299                  Bruckner Boulevard  2600       2      2   Bronx
2302                   5467 Fieldston Rd  2350       3      1   Bronx
2823         520 East 159th Street Apt C  1750       2      1   Bronx
2884         947 Avenue St. Johns Apt 4A  1700       2      1   Bronx
3012           1170 Walton Avenue Apt 4C  1825       2      1   Bronx
3509              111 Tudor Place Apt 5A  1500       1      1   Bronx
3627        1165 Longfellow Avenue Apt 3  2300       3      1   Bronx
3876   Kingsbridge Ave./ 230's / Rive...  1325  Studio      1   Bronx
4158       230th St And Kingsbtidge Ave.  1325  Studio      1   Bronx
4223                       Walton Avenue  1695       1      1   Bronx
4339                      Johnson Avenue  1800       1      1   Bronx
...                                  ...   ...     ...    ...     ...
32519                     Johnson Avenue  1569       1      1   Bronx
32547        63 Bruckner Boulevard Apt 2  2800       2      2   Bronx
32616           2063 Narragansett Avenue  3250       3      2   Bronx
32647              3240 Riverdale Avenue  1990       1      1   Bronx
33703                          Gillespie  1450       1      1   Bronx
34571       225 East 134th Street Apt 3C  2000  Studio      1   Bronx
34969                  288 East 169th St  2700       4      2   Bronx
35234              529 E 235th St Apt 5B  1895       2      1   Bronx
35539                 2171 Barnes Avenue  1325  Studio      1   Bronx
36563    morris Heights Bronx NY 1045...  1695       1      1   Bronx
38905                  743 East 136th St  1600       1      1   Bronx
39103                   2123 Wallace Ave  1440       1      1   Bronx
39711                   2123 Wallace Ave  1435       1      1   Bronx
39836                    2171 Barnes Ave  1850       2      1   Bronx
40421       716 East 234th Street Apt 2C  2200       3      1   Bronx
40523                  East 234th Street  2200       3      1   Bronx
40698                    3722 Blackstone  2599       3      2   Bronx
41158       225 East 138th Street Apt 6F  2200       1      1   Bronx
42564              1055 Morris Ave Apt 1  2400       3      2   Bronx
44298        211 West 252nd Street Apt 2  2475       2      2   Bronx
47644              2427 Hoffman St Apt 4  2600       4      1   Bronx
48915       25 Bruckner Boulevard Apt 6Q  3163       2      2   Bronx
49444       25 Bruckner Boulevard Apt 1A  3346       1      2   Bronx
49513       716 East 234th Street Apt 2B  2200       3      1   Bronx
49870       716 East 234th Street Apt 2A  2200       3      1   Bronx
49939       25 Bruckner Boulevard Apt 2U  2567       1      1   Bronx
50381       25 Bruckner Boulevard Apt 3B  2337       1      1   Bronx
52803       716 East 234th Street Apt 3C  2200       3      1   Bronx
52996                  468 East 141st St  2250       3      1   Bronx
53736       25 Bruckner Boulevard Apt 1O  3112       2      2   Bronx

                      hood  elevator  doorman  laundry  furnished  sqft  page
121             Mott Haven      True    False    False      False   NaN    38
391             Morrisania     False    False    False      False   NaN  2822
418        Fordham Heights     False    False    False      False   NaN  2819
593                Norwood     False    False    False      False   NaN  2795
1004       Fordham Heights     False    False    False      False   NaN  2760
1133               Belmont     False    False    False      False   NaN  2740
1179   Kingsbridge Heights     False    False    False      False   NaN  2736
1371             Riverdale      True    False     True      False  1300  2723
1454        Spuyten Duyvil      True     True     True      False  1600  2719
1462             Riverdale      True    False     True      False   600  2718
1501   Kingsbridge Heights     False    False    False      False   NaN  2716
1513             Riverdale      True    False     True      False  1300  2716
1572            Mott Haven     False    False    False      False   NaN  2713
1585           Parkchester      True    False    False      False   655  2712
1681               Belmont      True     True    False      False   NaN  2706
1704               Melrose     False    False    False      False   NaN  2705
1771     Concourse Village     False    False    False      False   NaN  2701
1962               Belmont     False    False    False      False   NaN  2691
2166         Fordham Manor     False    False    False      False   NaN  2679
2299            Mott Haven      True    False    False      False   NaN  2672
2302       North Riverdale     False    False    False      False   NaN  2672
2823             Woodstock     False    False     True      False   NaN  2645
2884              Longwood     False    False    False      False   NaN  2642
3012             Concourse      True    False    False      False   NaN  2635
3509             Concourse      True    False    False      False   NaN  2609
3627     Crotona Park East     False    False    False      False   NaN  2603
3876           Marble Hill      True    False    False      False   NaN  2589
4158           Marble Hill     False    False    False      False   NaN  2575
4223     Concourse Village     False    False    False      False   NaN  2572
4339        Spuyten Duyvil      True     True     True      False   NaN  2566
...                    ...       ...      ...      ...        ...   ...   ...
32519       Spuyten Duyvil      True     True    False      False   NaN  1142
32547           Mott Haven      True     True    False      False   NaN  1140
32616       Pelham Parkway     False    False    False      False   NaN  1137
32647          Kingsbridge      True    False    False      False   700  1135
33703        Schuylerville     False    False    False      False   950  1082
34571           Mott Haven      True    False    False      False   NaN  1038
34969            Concourse     False    False    False      False   NaN  1016
35234     Woodlawn Heights      True    False    False      False   NaN  1003
35539       Pelham Parkway      True    False    False      False   NaN   988
36563       Morris Heights      True    False    False      False   NaN   934
38905          Port Morris     False    False    False      False   NaN   817
39103       Pelham Parkway      True    False    False      False   850   806
39711       Pelham Parkway      True    False    False      False   800   776
39836       Pelham Parkway      True    False    False      False   950   769
40421            Wakefield     False    False    False      False   NaN   738
40523            Wakefield     False    False    False      False   NaN   733
40698            Riverdale     False    False     True      False  1075   725
41158           Mott Haven      True    False     True      False   NaN   702
42564            Concourse     False    False    False      False   975   631
44298            Fieldston     False    False    False      False   NaN   543
47644              Belmont     False    False    False      False  1000   374
48915           Mott Haven     False    False    False      False   NaN   310
49444           Mott Haven      True    False     True      False   NaN   284
49513            Wakefield     False    False    False      False   NaN   280
49870            Wakefield     False    False    False      False   NaN   262
49939           Mott Haven      True    False    False      False   NaN   258
50381           Mott Haven     False    False    False      False   NaN   235
52803            Wakefield     False    False    False      False   NaN   112
52996           Mott Haven     False    False    False      False   850   103
53736           Mott Haven      True    False     True      False   NaN    65

[118 rows x 12 columns]


Brooklyn
----------------------------------------------------------------------
                                address  rent    beds  baths   borough  \
3                             Blue Slip  3035       1      1  Brooklyn
10                  528 Grand St. Apt 2  4200       4      2  Brooklyn
14                77 Clay Street Apt 3A  4400       4      2  Brooklyn
29          265 South 2nd Street Apt 17  3600       3      1  Brooklyn
34             1150 Eastern Pkwy Apt 1A  2950       2      2  Brooklyn
37                         501 Bushwick  2335       1      1  Brooklyn
50                  369 South 4th Apt 1  3547       3      1  Brooklyn
51                    163 N 6th Apt A14  5000       1      3  Brooklyn
61                808 Driggs Ave Apt 2A  2719       1      1  Brooklyn
66                    1038 Greene Apt 2  2992       3      1  Brooklyn
67     268 Metropolitan Avenue Apt 5...  3036       1      1  Brooklyn
100             217 Green Street Apt 3D  3275       2      1  Brooklyn
106             57 Thames Street Apt 4O  3675       4      1  Brooklyn
120    276 East 23rd Street Apt 3 RM...   775       4      1  Brooklyn
122                   808 Driggs Apt 2A  2700       1      1  Brooklyn
142                    307 Grand Apt 3A  4500       3      2  Brooklyn
171                889 Bushwick Apt 307  2144       1      1  Brooklyn
187                         Gold Street  6055       3      3  Brooklyn
204           65 Ainslie Street Apt 405  4800       2      2  Brooklyn
206                        618 Bushwick  2362       1      1  Brooklyn
221           321 Wythe Avenue Apt 1504  4925       2      1  Brooklyn
225                 10 Montieth Apt 249  2335       1      1  Brooklyn
333                             3RD AVE  2000       2      1  Brooklyn
340                    Lafayette Avenue  3150       1      1  Brooklyn
342                         Hope Street  3100       1      1  Brooklyn
344                         Dean Street  3326       1      1  Brooklyn
345                        Grand Street  3000       1      1  Brooklyn
375                         Bond Street  2475  Studio      1  Brooklyn
378                          Senator St  1450       1      1  Brooklyn
381                    North 5th Street  3277       1      1  Brooklyn
...                                 ...   ...     ...    ...       ...
54217                 848 Fulton Street  1700       1      1  Brooklyn
54219            184 Kent Ave. Apt B401  5750       2      2  Brooklyn
54244           33 Halsey St Apt PARLOR  2400       1      1  Brooklyn
54248        10 Montieth Street Apt 411  3600       2      2  Brooklyn
54249             570 Evergreen Apt 2LW  2667       3      2  Brooklyn
54259  173 Schenectady Avenue Apt 7T...  1899       2      1  Brooklyn
54369        90 South 1st Street Apt 1A  5875       3      2  Brooklyn
54379             70 Bushwick Ave 11211  4500       4      2  Brooklyn
54391           307 Grand Street Apt 3B  4499       3      2  Brooklyn
54406         49 Rochester Avenue Apt 3  2700       3      2  Brooklyn
54409                        33 Bond St  4455       2      1  Brooklyn
54414         206 Nassau Avenue Apt 3LR  2995       2      2  Brooklyn
54440           33 Bond Street Apt 2408  4500       2      1  Brooklyn
54474       244 Bainbridge Street Apt 4  2548       3      1  Brooklyn
54498          385 Vernon Avenue Apt 2D  2800       3      1  Brooklyn
54514       135 Clarkson Avenue Apt C08  1750       1      1  Brooklyn
54524          825 Putnam Avenue Apt 4B  1750  Studio      1  Brooklyn
54534         82 Saratoga Avenue Apt 3L  2450       3      1  Brooklyn
54560               131 Linden St Apt 2  1700  Studio      1  Brooklyn
54564            478 Maple Street Apt 2  2200       2      1  Brooklyn
54584            1147 Dean Street Apt 2  1750       1      1  Brooklyn
54585                   Duffield Street  6385       3      2  Brooklyn
54590            10 City Point Apt. 31N  3300       1      1  Brooklyn
54597            1629 Saint Johns Place  2100  Studio      2  Brooklyn
54616  333 Schermerhorn Street Apt. ...  2769  Studio      1  Brooklyn
54623                520 Decatur Street  2000       1      1  Brooklyn
54640        120 Nassau Street Apt. 14D  2595  Studio      1  Brooklyn
54643  333 Schermerhorn Street Apt. ...  2785  Studio      1  Brooklyn
54656  225 Schermerhorn St. Apt. 18G...  4639       2      2  Brooklyn
54691      25 Washington Street Apt. 2F  5037       2      1  Brooklyn

                            hood  elevator  doorman  laundry  furnished  sqft  \
3                     Greenpoint      True     True     True      False   NaN
10             East Williamsburg     False    False    False      False   NaN
14                    Greenpoint      True    False    False      False  1000
29                  Williamsburg     False    False     True      False   900
34                 Crown Heights     False    False    False      False   NaN
37                      Bushwick      True     True    False      False   600
50             East Williamsburg     False    False    False      False  1500
51                  Williamsburg     False    False     True      False  1300
61                  Williamsburg      True    False    False      False   NaN
66            Bedford-Stuyvesant      True    False    False      False   NaN
67                  Williamsburg     False    False     True      False   NaN
100                   Greenpoint      True    False    False      False   NaN
106            East Williamsburg      True    False    False      False   925
120                     Flatbush     False    False    False      False   NaN
122                 Williamsburg      True    False    False      False   700
142                 Williamsburg     False    False    False      False   NaN
171                     Bushwick      True    False    False      False   650
187            Downtown Brooklyn     False    False     True      False   NaN
204            East Williamsburg      True    False     True      False  1150
206                     Bushwick     False    False    False      False   650
221                 Williamsburg      True     True    False      False   NaN
225                     Bushwick      True     True    False      False   NaN
333                    Bay Ridge     False    False    False      False  1000
340                 Clinton Hill     False    False    False      False   NaN
342            East Williamsburg     False    False    False      False   NaN
344             Prospect Heights     False     True    False      False   NaN
345            East Williamsburg     False    False    False      False   NaN
375            Downtown Brooklyn      True     True     True      False   NaN
378                    Bay Ridge     False    False    False      False   NaN
381                 Williamsburg     False     True    False      False   NaN
...                          ...       ...      ...      ...        ...   ...
54217                   Red Hook     False    False     True      False   NaN
54219               Williamsburg      True     True     True      False  1078
54244         Bedford-Stuyvesant     False    False    False      False   NaN
54248                   Bushwick      True     True     True      False  1000
54249                   Bushwick     False    False    False      False   NaN
54259                 Weeksville     False    False    False      False   NaN
54369               Williamsburg     False    False     True      False  1600
54379          East Williamsburg      True    False    False      False   900
54391               Williamsburg     False    False    False      False   800
54406         Bedford-Stuyvesant     False    False    False      False   NaN
54409          Downtown Brooklyn      True     True     True      False   NaN
54414                 Greenpoint     False    False    False      False   NaN
54440          Downtown Brooklyn     False    False    False      False   NaN
54474         Bedford-Stuyvesant     False     True    False      False   NaN
54498         Bedford-Stuyvesant     False    False    False      False   NaN
54514  Prospect Lefferts Gardens      True    False    False      False   NaN
54524         Bedford-Stuyvesant     False    False    False      False   NaN
54534         Bedford-Stuyvesant     False    False     True      False   NaN
54560                   Bushwick     False    False    False      False   NaN
54564                    Wingate     False    False    False      False   NaN
54584              Crown Heights     False    False    False      False   NaN
54585          Downtown Brooklyn      True     True     True      False   NaN
54590          Downtown Brooklyn      True     True     True      False   NaN
54597              Crown Heights     False    False    False      False   NaN
54616          Downtown Brooklyn      True     True     True      False   NaN
54623         Bedford-Stuyvesant     False    False    False      False   NaN
54640          Downtown Brooklyn      True     True     True      False   NaN
54643          Downtown Brooklyn      True     True     True      False   NaN
54656          Downtown Brooklyn      True     True     True      False   NaN
54691                      DUMBO      True    False     True      False   NaN

       page
3         1
10        1
14        1
29       43
34       43
37       43
50       42
51       42
61       41
66       41
67       41
100      39
106      39
120      38
122      38
142      37
171      36
187      35
204      34
206      34
221      33
225      33
333    2832
340    2829
342    2829
344    2829
345    2829
375    2826
378    2825
381    2825
...     ...
54217    26
54219    26
54244    25
54248    24
54249    24
54259    24
54369    18
54379    18
54391    17
54406    16
54409    16
54414    16
54440    14
54474    12
54498    11
54514    10
54524    10
54534     9
54560     8
54564     8
54584     7
54585     7
54590     7
54597     6
54616     5
54623     5
54640     4
54643     4
54656     3
54691     2

[5031 rows x 12 columns]


Financial District
----------------------------------------------------------------------
                  address  rent beds  baths             borough  \
24853  Waterfront Luxury!  3650    1      1  Financial District


In [22]:
#Clean up boroughs
manhattan = ['14th to 40th Street', 'Midtown', 'Midtown Manhattan', 'Murray Hill', 'meat packing', \
             'Upper Manhattan', 'Financial District', 'Greenwich Village']
remove = ['Greenburgh', 'Hempstead', 'Jersey City', 'Kirkland', 'Newark', 'North Hempstead', \
         'Placer County', 'Rye', 'Weehawken', 'Yakima County', 'Yonkers']
df['borough'] = df['borough'].apply(lambda x: 'Manhattan' if x in manhattan else x)
df['borough'] = df['borough'].apply(lambda x: 'Bronx' if x in ['Town'] else x)
df['borough'] = df['borough'].apply(lambda x: 'Brooklyn' if x in ['Tabernacle'] else x)
df = df[~df['borough'].isin(remove)]
set(df['borough'])

{'Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'}

In [27]:
#df['hood'] = df['hood'].apply(lambda x: 'Crown Heights' if x in ['Tabernacle'] else x )
df.loc[df['hood'] == 'Tabernacle', 'hood'] = 'Crown Heights'
df.loc[df['hood'] == 'Beverley Square West', 'hood'] = 'Flatbush'

/Users/michaelsankari/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/michaelsankari/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [26]:
set(df['hood'])

{'Alphabet City',
 'Arverne',
 'Astoria',
 'Astoria Heights',
 'Auburndale',
 'Bath Beach',
 'Battery Park City',
 'Bay Ridge',
 'Bayside',
 'Bedford-Stuyvesant',
 'Beechhurst',
 'Belmont',
 'Bensonhurst',
 'Bergen Beach',
 'Blissville',
 'Boerum Hill',
 'Borough Park',
 'Bowery',
 'Briarwood',
 'Brighton Beach',
 'Bronxwood',
 'Brooklyn Heights',
 'Brooklyn Navy Yard',
 'Brookville',
 'Brownsville',
 'Bushwick',
 'Canarsie',
 'Carnegie Hill',
 'Carroll Gardens',
 'Caton Park',
 'Central Harlem',
 'Central Park',
 'Central Riverdale',
 'Central Slope',
 'Chelsea',
 'Chinatown',
 'City Line',
 'Civic Center',
 'Clinton Hill',
 'Cobble Hill',
 'College Point',
 'Concourse',
 'Concourse Village',
 'Coney Island',
 'Cooperative Village',
 'Crotona Park East',
 'Crown Heights',
 'Cypress Hills',
 'DUMBO',
 'Ditmars',
 'Ditmas Park',
 'Downtown Brooklyn',
 'Downtown Flushing',
 'Downtown Manhattan',
 'Dyker Heights',
 'East Elmhurst',
 'East Flatbush',
 'East Harlem',
 'East Midwood',
 'East New York',
 'East Village',
 'East Williamsburg',
 'Elmhurst',
 'Far Rockaway',
 'Fieldston',
 'Financial District',
 'Fiske Terrace',
 'Flatbush',
 'Flatiron District',
 'Flatlands',
 'Flushing',
 'Flushing Meadows-Corona Park',
 'Fordham Heights',
 'Fordham Manor',
 'Forest Hills',
 'Forest Park',
 'Fort George',
 'Fort Greene',
 'Garment District',
 'Georgetown',
 'Gerritsen Beach',
 'Glendale',
 'Governors Island',
 'Gowanus',
 'Gramercy Park',
 'Gravesend',
 'Greenpoint',
 'Greenwich Village',
 'Greenwood Heights',
 'Hamilton Heights',
 'Hammels',
 "Hell's Kitchen",
 'Highland Park',
 'Hollis',
 'Homecrest',
 'Hudson Heights',
 'Hudson Square',
 'Hunters Point',
 'Inwood',
 'Jackson Heights',
 'Jamaica',
 'Jamaica Estates',
 'Kensington',
 'Kew Gardens',
 'Kew Gardens Hills',
 'Kingsbridge',
 'Kingsbridge Heights',
 'Kips Bay',
 'Koreatown',
 'Lenox Hill',
 'Lincoln Square',
 'Little Italy',
 'Little Senegal',
 'Long Island City',
 'Longwood',
 'Lower East Side',
 'Madison',
 'Manhattan',
 'Manhattan Beach',
 'Manhattan Terrace',
 'Manhattan Valley',
 'Manhattanville',
 'Marble Hill',
 'Marine Park',
 'Maspeth',
 'Melrose',
 'Middle Village',
 'Midtown East',
 'Midtown Manhattan',
 'Midwood',
 'Morningside Heights',
 'Morris Heights',
 'Morrisania',
 'Mott Haven',
 'Murray Hill',
 'New Brighton',
 'NoHo',
 'NoLita',
 'NoMad',
 'North Riverdale',
 'North Slope',
 'Norwood',
 'Ocean Hill',
 'Ozone Park',
 'Parkchester',
 'Pelham',
 'Pelham Bay',
 'Pelham Parkway',
 'Port Morris',
 'Prospect Heights',
 'Prospect Lefferts Gardens',
 'Prospect Park',
 'Prospect Park South',
 'Queens Village',
 'Red Hook',
 'Rego Park',
 'Richmond Hill',
 'Ridgewood',
 'Riverdale',
 'Rockaway Beach',
 'Roosevelt Island',
 'Rose Hill',
 'Schuylerville',
 'Seaside',
 'Sheepshead Bay',
 'SoHo',
 'South Corona',
 'South Midwood',
 'South Ozone Park',
 'South Slope',
 'Spuyten Duyvil',
 'St. George',
 'Stapleton',
 'Steinway',
 'Stratton Park',
 'Stuyvesant Town - Peter Cooper Village',
 'Sunnyside',
 'Sunset Park',
 'Sutton Place',
 'Theater District',
 'Throgs Neck',
 'Tribeca',
 'Tudor City',
 'Turtle Bay',
 'Two Bridges',
 'University Heights',
 'Upper East Side',
 'Upper West Side',
 'Vinegar Hill',
 'Wakefield',
 'Washington Heights',
 'Weeksville',
 'West Farms',
 'West Midwood',
 'West Village',
 'Whitestone',
 'Williamsburg',
 'Windsor Terrace',
 'Wingate',
 'Woodhaven',
 'Woodlawn Heights',
 'Woodside',
 'Woodstock',
 'Yorkville'}

In [ ]:
df.to_csv('rent_info_cleaned.csv')